@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: 18, 18, 18;
  
  --bg-header-color-1: 18, 18, 18, 1;
  --bg-header-color-2: 0, 0, 0, .90;

  --bg-nav-color-1: 0, 0, 0, 1;
  --bg-nav-color-2: 26, 26, 26, 1;

  --bg-card-color: 0, 0, 0;

  --text-0: 255, 255, 255;
  --text-1: 206, 206, 251;

  --tale-0: 0, 128, 128;
  --tale-1: 0, 128, 128, 0.20;

  --danger: 179, 2, 2;

  transition: all .5s ease-in-out;
}

.light {
  --background: 255, 255, 255;

  --bg-header-color-1: 235, 236, 237, .25;
  --bg-header-color-2: 235, 236, 237, .75;

  --bg-nav-color-1: 240, 240, 240, .80;
  --bg-nav-shadow: 0px 70px 60px 5px rgba(0, 0, 0, 0.25);

  --bg-card-color: 205, 205, 205;

  --text-0: 0, 0, 0;
  --text-1: 49, 49, 49;

  --tale-0: 0, 128, 128;
  --tale-1: 0, 128, 128, 0.20;

  --danger: 179, 2, 2;

  transition: all .5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base { 
  body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: rgba(var(--background));
  }
}

@layer components {
  
}

@layer utilities {
  .text-logo {
    @apply font-guerrilla font-bold text-tale text-[30px] max-sm:text-[26px] tracking-widest;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#008080] to-[#171717] bg-clip-text text-transparent;
  }

  .search-input {
    @apply block w-full text-sm font-medium bg-white py-1.5 px-1 text-dark rounded-md border border-gray-700 focus:border-gray-100 focus:outline-none focus:ring-0;
  }
}

body::-webkit-scrollbar {
  width: 14px;
}

.nav-menu::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track,
.nav-menu::-webkit-scrollbar-track {
  background: #e2e8f0;
}

body::-webkit-scrollbar-thumb,
.nav-menu::-webkit-scrollbar-thumb {
  background: linear-gradient(145deg, rgba(41,43,48,1) 5%, rgba(21,21,21,1) 25%, rgba(26,26,26,1) 70%, rgba(73,77,87,1) 100%);
  transition: background-color .20s ease-in;
}

body::-webkit-scrollbar-thumb:hover,
.nav-menu::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(145deg, rgba(21,21,21,1) 50%, rgba(26,26,26,1) 80%, rgba(73,77,87,1) 100%);
}

.header-glass {
  background: linear-gradient(45deg, rgba(var(--bg-header-color-1)) 12%, rgba(var(--bg-header-color-2)) 32%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all .5s ease-in-out;
}

.nav-glass {
  background: linear-gradient(145deg, rgba(var(--bg-nav-color-1)) 50%, rgba(var(--bg-nav-color-2)) 75%);
  box-shadow: var(--bg-nav-shadow);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.footer-glass {
  background: linear-gradient(145deg, rgba(10,10,10,1) 45%, rgba(54,54,54,1) 100%);
}

@media screen and (max-width: 1024px) {
  .header-glass {
    background: linear-gradient(45deg, rgba(var(--bg-header-color-1)) 15%, rgba(var(--bg-header-color-2)) 80%);
  }
}

@media screen and (max-width: 640px) {
  .header-glass {
    background: linear-gradient(45deg, rgba(var(--bg-header-color-1)) 10%, rgba(var(--bg-header-color-2)) 90%);
  }
}

.overview-line-clamp {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-line-clamp {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.biograhpy-line-clamp {
  display: -webkit-box;
  line-clamp: 10;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-line-clamp {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.bullet-separator:last-child {
  display: none;
}

.user-review-card {
  position: relative;
  padding: 1rem;
  background: #fff;
  color: #000;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
  border-width: 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.user-review-card::before {
  clip-path: polygon(0 0, 50% 50%, 100% 0);
  content: "";
  display: block;
  position: absolute;
  transform-origin: top;
  top: 100%;
  height: calc(1.5rem + 2px);
  left: calc(1.5rem - 1px);
  width: calc(1.5rem + 2px);
  background: rgba(0, 0, 0, .5);
  filter: blur(20px);
}

.user-review-card::after {
  clip-path: polygon(0 0, 50% 50%, 100% 0);
  content: "";
  display: block;
  position: absolute;
  transform-origin: top;
  background: #fff;
  top: calc(100% - 1px);
  height: 1.5rem;
  left: 1.5rem;
  width: 1.5rem;
}

