@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base { 
  body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: #000000;
    color: #fff;
  }
}

@layer components {
  
}

@layer utilities {
  .text-logo {
    @apply font-guerrilla font-bold text-tale text-[30px] max-lg:text-xl tracking-widest;
  }

  .text-gradient {
    @apply bg-linear-to-r from-[#008080] to-[#171717] bg-clip-text text-transparent;
  }
}

