@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: 18, 18, 18;

  --bg-header-color-1: 18, 18, 18, 1;
  --bg-header-color-2: 0, 0, 0, 0.9;

  --bg-nav-color-1: 0, 0, 0, 1;
  --bg-nav-color-2: 26, 26, 26, 1;

  --bg-card-color: 0, 0, 0;

  --text-0: 255, 255, 255;
  --text-1: 206, 206, 251;

  --tale-0: 0, 128, 128;
  --tale-1: 0, 128, 128, 0.2;

  --danger: 219, 9, 9;

  transition: all 0.5s ease-in-out;
}

.light {
  --background: 255, 255, 255;

  --bg-header-color-1: 235, 236, 237, 0.25;
  --bg-header-color-2: 235, 236, 237, 0.75;

  --bg-nav-color-1: 240, 240, 240, 0.85;
  --bg-nav-color-2: 150, 151, 153, 0.7;
  --bg-nav-shadow: 0px 70px 60px 5px rgba(0, 0, 0, 0.25);

  --bg-card-color: 205, 205, 205;

  --text-0: 0, 0, 0;
  --text-1: 36, 36, 36;

  --tale-0: 0, 128, 128;
  --tale-1: 0, 128, 128, 0.2;

  --danger: 219, 9, 9;

  transition: all 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: rgba(var(--background));
  }
}

@layer utilities {
  .text-logo {
    @apply font-guerrilla font-bold text-tale text-[30px] max-sm:text-[27px] tracking-widest;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#008080] to-[#545252] bg-clip-text text-transparent;
  }

  .search-input {
    @apply block w-full text-sm max-lg:text-base font-medium bg-white py-1.5 px-1 text-dark rounded-md border border-gray-700 focus:border-gray-100 outline-none focus:outline-none focus:ring-0;
  }

  .btn-person-credits {
    @apply block rounded-md border border-tale bg-transparent py-1.5 px-5 text-tale text-sm transition-all duration-200 hover:bg-tale/15;
  }

  .btn-person-credits-active {
    @apply bg-tale/15 pointer-events-none;
  }
}
